<div class="footer-container">

  <div class="brand-logo">
    <img src="/images/logo.png" alt="logo">
  </div>
  <div class="brand-logo copyright">
    <p class="paragraph">Copyright © FITPOINT. Visos teisės saugomos</p>
  </div>
</div>
<script src="/javascript/menuButton.js"></script>
<script src="/javascript/photoEffect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>
