<%- include("partials/header") -%>

<div class="container">
  <div class="main-image">
    <img src="/images/treniruoklisVisas.png" alt="">
  </div>
  <div class="main-page">
    <h1 class="big-title">FITPOINT – įrankiai būsimiems čempionams</h1>
    <p class="paragraph">Čempionu tapti paprasta, kai turi tinkamus įrankius. FITPOINT lauko treniruokliai – tai efektyvi alternatyva brangiems sporto klubams. Jais savarankiškai naudotis gali kiekvienas – nuo vaiko iki senjoro. O svarbiausia – jie niekada nebus užimti, nes juos galite turėti tiesiog savo namų kieme.</p>
    <a href="/treniruokliai"><button class="main-button" type="button" name="button">Plačiau</button></a>
  </div>
  <div class="items">

    <h1 class="big-title">Trys pasirinkimai</h1>
    <h2 class="small-heading">Kuris Jūsų?</h2>

    <div class="row">
      <div class="item">
        <a href="/treniruokliai/FITPOINT8"><img src="/images/treniruoklisVisas.png" alt=""> </a>
        <a href="/treniruokliai/FITPOINT8">
          <h3 class="product-heading">FITPOINT 8</h3>
        </a>
        <a class="item-link" href="/treniruokliai/FITPOINT8">Skaitykite plačiau apie treniruoklį ></a>
      </div>

      <div class="item">
        <a href="/treniruokliai/FITPOINT6"><img src="/images/treniruoklisVisas.png" alt=""> </a>
        <a href="/treniruokliai/FITPOINT6">
          <h3 class="product-heading">FITPOINT 6</h3>
        </a>
        <a class="item-link" href="/treniruokliai/FITPOINT6">Skaitykite plačiau apie treniruoklį ></a>
      </div>

      <div class="item">
        <a href="/treniruokliai/FITPOINT4"><img src="/images/treniruoklisVisas.png" alt=""></a>
        <a href="/treniruokliai/FITPOINT4">
          <h3 class="product-heading">FITPOINT 4</h3>
        </a>
        <a class="item-link" href="/treniruokliai/FITPOINT4">Skaitykite plačiau apie treniruoklį ></a>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer") -%>
