<%- include("partials/header") -%>
<div class="container">
  <div class="items">
    <h1 class="big-title">Trys pasirinkimai</h1>
      <div class="item">
        <a href="/treniruokliai/FITPOINT8"><img src="/images/treniruoklisVisas.png" alt=""></a>
        <a href="/treniruokliai/FITPOINT8"><h3 class="product-heading">FITPOINT 8</h3></a>
        <a class="item-link" href="/treniruokliai/FITPOINT8">Skaitykite plačiau apie treniruoklį ></a>
      </div>
      <div class="item">
        <a href="/treniruokliai/FITPOINT6"><img src="/images/treniruoklisVisas.png" alt=""></a>
        <a href="/treniruokliai/FITPOINT6"><h3 class="product-heading">FITPOINT 6</h3></a>
        <a class="item-link" href="/treniruokliai/FITPOINT6">Skaitykite plačiau apie treniruoklį ></a>
      </div>
      <div class="item">
        <a href="/treniruokliai/FITPOINT4"><img src="/images/treniruoklisVisas.png" alt=""></a>
        <a href="/treniruokliai/FITPOINT4"><h3 class="product-heading">FITPOINT 4</h3></a>
        <a class="item-link" href="/treniruokliai/FITPOINT4">Skaitykite plačiau apie treniruoklį ></a>
      </div>
  </div>
</div>
<%- include("partials/footer") -%>
